<launch>
  <node name="agent" pkg="air_pollutions_sensor_waspmote_tlt" type="agent_node" output="screen" >
    <param name="approve" value="yes" />
    <param name="model" value="QmV1K3Y4sdLRz7rx2VTKbvyF35RRqat7kfmzYPwpGGr5u3" />
    <param name="objective" value="QmawMgB56rnoKXPqke4cyPf4Co169D6Kq7BxVXsW1ruvYx" /> <!-- 3 days -->
    <param name="price" value="1" />
    <param name="token" value="0x3cBAF1d511Adf5098511B5c5B39e1F1b506C1AFE" />
    <param name="liability_factory" value="0x44CFBcb1Ca0d3df0925dDA3354E955d38d78ad6B" />
    <param name="publisher_node_launch" value="/root/ws/catkin_ws/src/air_pollutions_sensor_waspmote_tlt/launch/publisher_node.launch" />
  </node>
</launch>
